version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: brevly_pg
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: brevly
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
